<% @portfolios.each do |portfolio| %>
  <h3><%= portfolio.title %></h3>
    <h6> <%= portfolio.subtitle %> </h6>
    <h6> <%= portfolio.body %> </h6>
    <%= link_to image_tag(portfolio.thumb_image) %>
<% end %>
